.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/test/**
!out/*.js
!out/commands/**/*.js
!out/integrations/**/*.js
!out/providers/**/*.js
!out/services/**/*.js
!out/types/**/*.js
!out/utils/**/*.js
.mocharc.json
.cursor/**
node_modules/**
pnpm-lock.yaml
docs/**
CONCEPT.md
BLUEPRINT.md
OVERVIEW.md
*.png
!static/**/*.png
